.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 6rem;
  padding-top: 110px;
}

.imgStyle {
  max-width: 100%;
  border-radius: 0.3%;
}

.infoText {
  display: flex;
  justify-content: space-between;

  .view,
  .date {
    font-size: 1rem;
    color: var(--color-light-900);
  }

  .view {
    display: flex;
    align-items: center;
  }

  .viewsCount {
    margin-right: 0.2rem;
  }

  .eyeIcon {
    margin-bottom: 0.5rem;
  }
}

.textWrap {
  width: 100%;
  background: linear-gradient(var(--color-dark-700) 50%, var(--color-accent-700) 250%);
  border-radius: 0 0 0.3% 0.3%;
  box-shadow: 0 6px 11px var(--color-accent-700);
}

.title {
  width: 90%;
  margin: 0.6rem;
  color: var(--color-light-900) !important;
  text-align: center;
}

.text {
  width: 93%;
  margin: 0 auto;
  margin-bottom: 0.6rem;

  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--color-light-900) !important;
  text-align: justify;
}

.commentWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;

  background: linear-gradient(var(--color-dark-700) 50%, var(--color-accent-700) 250%);
  border-radius: 0 0 0.3% 0.3%;
  box-shadow: 0 7px 15px var(--color-dark-900);
}

.avaInput {
  display: flex;
  gap: 1rem;
  margin: 2rem;
}

.comment {
  display: flex;
  gap: 1rem;
  align-items: center;

  margin: 0.5rem 1rem;

  color: var(--color-light-900);
}
