.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 640px;
  margin: auto;
  margin-bottom: 6rem;
  padding-top: 110px;
}

.mainContainer img {
  width: 100%;
  height: auto;

  object-fit: cover;
  border-radius: 0.1rem;
  box-shadow: 0 4px 8px 5px var(--color-dark-900);
}

.photoWrap {
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;

  .view,
  .date {
    font-size: 1rem;
    color: var(--color-light-900);
  }

  .view {
    display: flex;
    align-items: center;
  }

  .viewsCount {
    margin-right: 0.2rem;
  }

  .eyeIcon {
    margin-bottom: 0.5rem;
  }
}

.textWrap {
  width: 100%;
  background: linear-gradient(var(--color-dark-700) 50%, var(--color-accent-700) 250%);
  border-radius: 0 0 0.3% 0.3%;
  box-shadow: 0 6px 11px var(--color-accent-700);
}

.text {
  width: 94%;
  color: var(--color-light-900) !important;
}

.tags {
  width: 94%;
  font-size: 1rem !important;
  color: var(--color-accent-900) !important;
}

.title {
  width: 94%;
  margin: 0.6rem;

  font-size: 2rem;
  color: var(--color-light-900) !important;
  text-align: center;
  text-align: right;
}

.tags,
.text {
  margin: 0 auto;
  margin-bottom: 1rem;

  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: justify;
}

.commentWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;

  background: linear-gradient(var(--color-dark-700) 60%, var(--color-primary-300) 300%);
  border-radius: 0 0 0.3% 0.3%;
  box-shadow: 0 7px 15px var(--color-dark-900);
}

.isDeleting {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  color: var(--color-dark-100) !important;
}
