.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 6rem;
  padding-top: 110px;
}

.infoBlock {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.imgWrap {
  overflow: hidden;

  max-width: 50%;
  height: 400px;
  margin-right: 1rem;

  border-radius: 22% 4% 0.8% 2%;
  box-shadow: 0 4px 8px 10px var(--color-dark-900);
}

.imgStyle {
  width: 100%;
  object-fit: cover;
}

.textInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 50%;
  height: 400px;
  padding: 2.6rem;

  //background: linear-gradient(40deg, var(--color-dark-100) 20%, var(--color-dark-900) 113%);
  border-radius: 4% 22% 2% 0.8%;
  box-shadow: 0 4px 8px 10px var(--color-dark-900);
}

.username,
.name,
.description,
.text {
  color: var(--color-light-100);
}

.username {
  font-size: 1.8rem;
}

.name {
  margin-top: 1.6rem;
}

.description {
  margin-top: 3rem;
  padding: 0.8rem;

  font-size: 1.2rem;
  text-align: center;

  background: linear-gradient(40deg, var(--color-dark-300) 10%, var(--color-dark-900) 113%);
  border-radius: 5px;
  box-shadow: inset 0 3px 6px 2px var(--color-dark-500);

  //box-shadow: 0 4px 10px 6px var(--color-dark-500);
}

.description.empty {
  padding: 0;
}

.buttonStyle {
  margin: 1rem auto;
}

.link {
  margin: 1rem auto;
  padding: 0.2rem 0.5rem;

  font-size: 1rem;
  text-align: center;

  background: linear-gradient(40deg, var(--color-dark-300) 10%, var(--color-dark-900) 113%);
  border-radius: 5px;
  box-shadow: inset 0 3px 6px 2px var(--color-dark-500);
}

.postsBlock {
  display: grid;
  grid-gap: 0.4rem;
  grid-template-columns: repeat(3, 1fr);

  max-width: 800px;
  padding: 0.5rem;

  background: linear-gradient(60deg, var(--color-dark-500) 50%, var(--color-dark-700) 93%);
  border-radius: 3px;
  box-shadow: 5px 13px 10px var(--color-dark-900);
}

.empty {
  display: flex;
  width: 100%;
  text-align: center;
}

.postImg {
  width: 100%;
  height: 350px;

  object-fit: cover;
  border-radius: 0.8%;
  box-shadow: -3px -3px 5px var(--color-dark-100);

  transition:
    transform 0.4s,
    border 0.4s; /* Добавляем плавный переход для трансформации и обводки */
}

.postImg:hover {
  transform: scale(1.04); /* Увеличиваем изображение на 5% */
  box-shadow: 2px 1px 15px -4px var(--color-accent-900);
}

.text {
  width: 100%;
  margin: auto;
}
